/* outfit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("../src/assets/fonts/outfit-v11-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/outfit-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

/* Color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.back-link {
  display: inline-block;
  padding: 5px 20px;
  width: 80px;
  text-decoration: none;
  color: #fff;
  box-shadow:
    #a1a1ee40 0px 50px 100px -20px,
    #a1a1ee40 0px 30px 60px -30px,
    #a1a1ee40 0px -2px 6px 0px;
    border-radius: 8px;
}
